html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.continue-button {
  border-radius: 5px;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  height: 19px;
  letter-spacing: .02em;
  line-height: 19px;
  padding: 15px 24px;
  white-space: nowrap;
  cursor: pointer;
  background-color: #01e675;
  color: #fff;
}
